body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-section  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.nav-section li {
    list-style: none;
}

.logo-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-article {
    position: relative;
}

.header-content {
    position: absolute;
    padding: 20px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    
}

.header-article img {
    max-width: 100%;
}   

.articles-grid {
    display: grid;
    grid-template-columns: minmax(368px, 1fr);
    gap: 20px;
    padding: 20px;
}

.blog-article {
    display: flex;
    flex-direction: column;
}